<div class="header142_component">
	<div class="text-align-center">
		<div class="header142_content">
			<div class="header142_images-canvas">
				<div class="header142_images-group1">
					<div class="header142_image-wrapper1">
						<img
							loading="eager"
							src="{{ 'image-0b07e402-b44b-4c86-b893-8f0ad00c827d.webp' | asset_url }}"
							alt=""
							class="header142_image float-image">
					</div>
					<div class="header142_image-wrapper2">
						<img
							loading="eager"
							src="{{ 'image-4a7407f7-32c2-4ce0-9551-8246374d0048.webp' | asset_url }}"
							alt=""
							class="header142_image float-image">
					</div>
					<div class="header142_image-wrapper3">
						<img
							loading="eager"
							src="{{ 'image-c719fd62-60c8-4670-8641-8407cc97650e.webp' | asset_url }}"
							alt=""
							class="header142_image float-image">
					</div>
					<div class="header142_image-wrapper4">
						<img
							loading="eager"
							src="{{ 'image-fb6eb22b-6295-495d-8dc0-e7cff469ced0.webp' | asset_url }}"
							alt=""
							class="header142_image float-image">
					</div>
					<div class="header142_image-wrapper5">
						<img
							loading="eager"
							src="{{ 'imgi_7_image-0b07e402-b44b-4c86-b893-8f0ad00c827d.png' | asset_url }}"
							alt=""
							class="header142_image float-image">
					</div>
					<div class="header142_image-wrapper6">
						<img
							alt=""
							src="{{ 'image-a33cf1d6-b4d2-4d6a-9d79-930ed2cac403.webp' | asset_url }}"
							loading="eager"
							class="header142_image float-image">
					</div>
					<div class="header142_image-wrapper7">
						<img
							loading="eager"
							src="{{ 'image-c719fd62-60c8-4670-8641-8407cc97650e.webp' | asset_url }}"
							alt=""
							class="header142_image float-image">
					</div>
					<div class="header142_image-wrapper8">
						<img
							loading="eager"
							src="{{ 'image-c719fd62-60c8-4670-8641-8407cc97650e.webp' | asset_url }}"
							alt=""
							class="header142_image float-image">
					</div>
					<div class="header142_image-wrapper9">
						<img
							loading="eager"
							src="{{ 'image-0b07e402-b44b-4c86-b893-8f0ad00c827d.webp' | asset_url }}"
							alt=""
							class="header142_image">
					</div>
				</div>
				<div class="header142_images-group1">
					<div class="header142_image-wrapper1-copy">
						<img
							loading="eager"
							src="{{ 'image-4a7407f7-32c2-4ce0-9551-8246374d0048.webp' | asset_url }}"
							alt=""
							class="header142_image float-image">
					</div>
					<div class="header142_image-wrapper2-copy">
						<img
							loading="eager"
							src="{{ 'image-c719fd62-60c8-4670-8641-8407cc97650e.webp' | asset_url }}"
							alt=""
							class="header142_image float-image">
					</div>
					<div class="header142_image-wrapper3-copy">
						<img
							loading="eager"
							src="{{ 'image-4a7407f7-32c2-4ce0-9551-8246374d0048.webp' | asset_url }}"
							alt=""
							class="header142_image float-image">
					</div>
					<div class="header142_image-wrapper4-copy">
						<img
							loading="eager"
							src="{{ 'image-0b07e402-b44b-4c86-b893-8f0ad00c827d.webp' | asset_url }}"
							alt=""
							class="header142_image float-image">
					</div>
					<div class="header142_image-wrapper5-copy">
						<img
							loading="eager"
							src="{{ 'image-fb6eb22b-6295-495d-8dc0-e7cff469ced0.webp' | asset_url }}"
							alt=""
							class="header142_image float-image">
					</div>
					<div class="header142_image-wrapper6-copy">
						<img
							alt=""
							src="{{ 'image-a33cf1d6-b4d2-4d6a-9d79-930ed2cac403.webp' | asset_url }}"
							loading="eager"
							class="header142_image float-image">
					</div>
					<div class="header142_image-wrapper7-copy">
						<img
							loading="eager"
							src="{{ 'image-c719fd62-60c8-4670-8641-8407cc97650e.webp' | asset_url }}"
							alt=""
							class="header142_image float-image">
					</div>
					<div class="header142_image-wrapper8-copy">
						<img
							loading="eager"
							src="{{ 'image-fb6eb22b-6295-495d-8dc0-e7cff469ced0.webp' | asset_url }}"
							alt=""
							class="header142_image float-image">
					</div>
				</div>
			</div>
			<img
				src="{{ 'imgi_10_image-f5ba3ad6-55f2-49da-ac12-2386adce41a1.png' | asset_url }}"
				loading="lazy"
				sizes="(max-width: 2150px) 100vw, 2150px"
				srcset="{{ 'imgi_10_image-f5ba3ad6-55f2-49da-ac12-2386adce41a1.png' | asset_img_url: '500x' }} 500w, {{ 'imgi_10_image-f5ba3ad6-55f2-49da-ac12-2386adce41a1.png' | asset_img_url: '800x' }} 800w, {{ 'imgi_10_image-f5ba3ad6-55f2-49da-ac12-2386adce41a1.png' | asset_img_url: '1080x' }} 1080w, {{ 'imgi_10_image-f5ba3ad6-55f2-49da-ac12-2386adce41a1.png' | asset_img_url: '1600x' }} 1600w, {{ 'imgi_10_image-f5ba3ad6-55f2-49da-ac12-2386adce41a1.png' | asset_img_url: '2000x' }} 2000w, {{ 'imgi_10_image-f5ba3ad6-55f2-49da-ac12-2386adce41a1.png' | asset_url }} 2150w"
				alt=""
				class="logo-hero">
		</div>
	</div>
</div>
