<div
	data-animation="default"
	class="navbar2_component w-nav"
	data-easing2="ease"
	fs-scrolldisable-element="smart-nav"
	data-easing="ease"
	data-collapse="medium"
	data-w-id="c141adcc-f338-7c02-e8d1-c429d7bfbdec"
	role="banner"
	data-duration="400">
	<div class="navbar2_container">
		<a
			href="{{ routes.root_url }}"
			aria-current="page"
			class="navbar2_logo-link w-nav-brand w--current"
			><img
				loading="lazy"
				src="{{ 'imgi_29_image-09e34139-179e-4f17-98a9-08c2aab39125.png' | asset_url }}"
				alt=""
				class="navbar_logo"
		></a>
		<nav
			role="navigation"
			id="w-node-c141adcc-f338-7c02-e8d1-c429d7bfbdf0-d7bfbdec"
			class="navbar2_menu is-page-height-tablet w-nav-menu">
			{% if settings.main_menu != blank %}
				{% for link in linklists[settings.main_menu].links %}
					<a
						href="{{ link.url }}"
						{% if link.active %}
							aria-current="page"
						{% endif %}
						class="navbar2_link w-nav-link{% if link.active %} w--current{% endif %}">
						{{- link.title -}}
					</a>
				{% endfor %}
			{% else %}
				<a
					href="{{ routes.root_url }}"
					aria-current="page"
					class="navbar2_link w-nav-link w--current"
					>Home</a
				>
				<a
					href="{{ pages["shop"].url }}"
					class="navbar2_link w-nav-link"
					>Shop</a
				>
				<a
					href="{{ pages["sobre"].url }}"
					class="navbar2_link w-nav-link"
					>Sobre</a
				>
			{% endif %}
		</nav>
		<div
			id="w-node-c141adcc-f338-7c02-e8d1-c429d7bfbdf7-d7bfbdec"
			class="navbar2_button-wrapper"
			style="display: flex; align-items: center; gap: 16px; margin-left: auto;">
			<div
				class="cart-container"
				style="display: flex; align-items: center; gap: 8px;">
				<span
					class="cart-quantity-text"
					style="font-size: 14px; color: inherit;">
					{{- cart.item_count -}}
				</span>
				<a
					href="#"
					class="button is-link is-icon w-inline-block"
					onclick="openSidebarCart(); return false;">
					<img
						src="{{ 'icon-cart.png' | asset_url }}"
						loading="lazy"
						alt="Cart"
						class="icon-shop"
						width="24"
						height="24">
				</a>
			</div>
			<div class="navbar2_menu-button w-nav-button">
				<div class="menu-icon2">
					<div class="menu-icon2_line-top"></div>
					<div class="menu-icon2_line-middle">
						<div class="menu-icon2_line-middle-inner"></div>
					</div>
					<div class="menu-icon2_line-bottom"></div>
				</div>
			</div>
		</div>
	</div>
</div>
