<!doctype html>

<html
	data-wf-page="{{ wfPage }}"
	data-wf-site="687b9decde4053855982b5b1"
	lang="{{ request.locale.iso_code }}"
	data-money-format="{{ shop.money_format | escape }}">
	<!-- Last Published: 2025-07-21T18:39:53.178Z -->
	<head>
		{%- liquid
			if headerSnippetPath
				include headerSnippetPath
			else
				render '__default-head'
			endif
		-%}
		{{ content_for_header }}
		{% if template contains 'customers' %}
			<script
				src="{{ 'shopify_common.js' | shopify_asset_url }}"
				defer></script>
		{% endif %}
	</head>
	<body class="{{ bodyClasses }} {{ "template-" | append: request.page_type | handle }}">
		{% if headerSnippetPath %}
			{{ content_for_layout }}
		{% else %}
			{% include 'backup-layout' %}
		{% endif %}
		{%- render 'sidebar-cart' -%}
	</body>
</html>
