{%- assign headerSnippetPath = 'header-index' -%}
{%- assign wfPage = '687bba03935a26289fed22c6' -%}
{%- assign bodyClasses = '' -%}
<div class="page-wrapper">
	{%- render 'global-styles' -%}
	{%- render 'navbar' -%}
	<main class="main-wrapper">
		<section class="section_layout192">
			<div class="padding-global">
				<div class="container-large">
					<div class="padding-section-large sobre">
						<div class="layout192_component">
							<div class="w-layout-grid layout192_content">
								<div
									class="layout192_image-wrapper"
									id="w-node-_750b5987-b4da-5558-2749-9133c1426925-9fed22c6">
									<img
										alt=""
										src="{{ 'image-6af19a41-053b-432f-9b85-8be12007ce9b.webp' | asset_url }}"
										loading="lazy"
										width="400"
										height="300"
										class="sobre-hero-image">
								</div>
								<div
									id="w-node-_750b5987-b4da-5558-2749-9133c1426927-9fed22c6"
									class="layout192_content-right">
									<div class="heading-wrapper">
										<img
											src="{{ 'rasterizedimage-77dc3d99-7ecf-4efe-9458-0d19576e50c1.png' | asset_url }}"
											loading="lazy"
											alt=""
											width="32"
											height="32"
											class="icon-star">
										<h2 class="heading-filosofia">nossa filosofia</h2>
									</div>
									<div class="spacer-small"></div>
									<div class="text-rich-text w-richtext">
										<p>Na GENSKINS, acreditamos que autoestima é essencial para o sucesso.<br></p>
										<p>Saber lidar com os vieses da vida também faz parte do processo. Por isso, criamos adesivos secativos com tecnologia hidrocolóide. Eles tratam a acne de forma eficaz e transformam o incômodo das espinhas em um momento de cuidado e expressão pessoaL</p>
									</div>
									<div class="spacer-large"></div>
									<div class="button-group">
										<a
											href="/collections/all"
											class="button is-secondary w-button"
											>Radical self-esteem</a
										>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% render 'gsap-marquee', image_src: 'image-2061301e-6486-4b3b-ab59-5f88270f16d6.webp', speed: 60, direction: 'left' %}
		<section class="section_layout192">
			<div class="padding-global">
				<div class="container-large">
					<div class="padding-section-large">
						<div class="layout192_component">
							<div class="w-layout-grid formula_content">
								<div
									id="w-node-_4d6d8aa7-79a0-f7e4-4e55-fac2c0c5dffd-9fed22c6"
									class="formula_content-left">
									<h2 class="heading-style-h2">Como funcionam os adesivos secativos?<br></h2>
									<div class="spacer-small"></div>
									<div class="faq6_list">
										<div
											blocks-name="faq6_list-grid"
											blocks-slot-children="ST366"
											class="w-layout-grid faq6_list-grid">
											<div
												blocks-name="faq6_accordion"
												class="faq6_accordion">
												<div
													data-w-id="61b124e9-3c70-c322-1398-e4a443841ca9"
													class="faq6_question">
													<div class="text-size-medium">Absorção de exsudato</div>
													<div class="faq6_icon-wrapper">
														<div class="icon-embed-small w-embed">
															<svg
																width="100%"
																height="100%"
																viewBox="0 0 32 32"
																fill="none"
																xmlns="http://www.w3.org/2000/svg">
																<path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
															</svg>
														</div>
													</div>
												</div>
												<div
													style="width:100%;height:0px"
													class="faq6_answer">
													<div class="margin-bottom margin-small">
														<div class="max-width-large">
															<p blocks-slot-item-canonical="EL10">Quando aplicado sobre a acne, o hidrocoloide absorve a secreção (exsudato) da lesão, formando um gel que ajuda a reduzir a inflamação e o inchaço.</p>
														</div>
													</div>
												</div>
											</div>
											<div
												blocks-name="faq6_accordion-2"
												class="faq6_accordion">
												<div
													data-w-id="61b124e9-3c70-c322-1398-e4a443841cb4"
													class="faq6_question">
													<div class="text-size-medium">Cicatrização</div>
													<div class="faq6_icon-wrapper">
														<div class="icon-embed-small w-embed">
															<svg
																width="100%"
																height="100%"
																viewBox="0 0 32 32"
																fill="none"
																xmlns="http://www.w3.org/2000/svg">
																<path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
															</svg>
														</div>
													</div>
												</div>
												<div
													style="width:100%;height:0px"
													class="faq6_answer">
													<div class="margin-bottom margin-small">
														<div class="max-width-large">
															<p blocks-slot-item-canonical="EL10">A matriz do hidrocoloide cria um ambiente úmido que favorece a cicatrização rápida e eficiente, evitando a formação de crostas e cicatrizes.</p>
														</div>
													</div>
												</div>
											</div>
											<div
												blocks-name="faq6_accordion-3"
												class="faq6_accordion last">
												<div
													data-w-id="61b124e9-3c70-c322-1398-e4a443841cbf"
													class="faq6_question">
													<div class="text-size-medium">Proteção Física</div>
													<div class="faq6_icon-wrapper">
														<div class="icon-embed-small w-embed">
															<svg
																width="100%"
																height="100%"
																viewBox="0 0 32 32"
																fill="none"
																xmlns="http://www.w3.org/2000/svg">
																<path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
															</svg>
														</div>
													</div>
												</div>
												<div
													style="width:100%;height:0px"
													class="faq6_answer">
													<div class="margin-bottom margin-small">
														<div class="max-width-large">
															<p blocks-slot-item-canonical="EL10">O adesivo atua como uma barreira física que protege a área tratada de bactérias, poeira e outros contaminantes, prevenindo infecções e permitindo uma cicatrização segura.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div
									id="w-node-_4d6d8aa7-79a0-f7e4-4e55-fac2c0c5dffb-9fed22c6"
									class="layout192_image-wrapper">
									<img
										alt=""
										src="{{ 'image-d1f350ac-50e1-47a9-83bf-ea7e396a5a0a.webp' | asset_url }}"
										loading="lazy"
										width="400"
										height="300"
										class="layout192_image">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section_layout192">
			<div class="padding-global">
				<div class="container-large">
					<div class="padding-section-large">
						<div class="layout192_component">
							<div class="w-layout-grid formula_content">
								<div
									id="w-node-af71544f-d1a8-67c4-dc55-286c8296afc2-9fed22c6"
									class="layout192_image-wrapper">
									<img
										alt=""
										src="{{ 'image-09a90416-127b-4509-9a9d-5d4e52246bd5.webp' | asset_url }}"
										loading="lazy"
										width="400"
										height="300"
										class="layout192_image">
								</div>
								<div
									id="w-node-af71544f-d1a8-67c4-dc55-286c8296af9b-9fed22c6"
									class="formula_content-left">
									<h2 class="heading-style-h2">Modo de uso:<br></h2>
									<div class="spacer-small"></div>
									<div class="faq6_list">
										<div
											blocks-name="faq6_list-grid"
											blocks-slot-children="ST366"
											class="w-layout-grid faq6_list-grid">
											<div
												blocks-name="faq6_accordion"
												class="faq6_accordion">
												<div
													data-w-id="af71544f-d1a8-67c4-dc55-286c8296af9f"
													class="faq6_question">
													<div class="text-size-medium">1-Lave</div>
													<div class="faq6_icon-wrapper">
														<div class="icon-embed-small w-embed">
															<svg
																width="100%"
																height="100%"
																viewBox="0 0 32 32"
																fill="none"
																xmlns="http://www.w3.org/2000/svg">
																<path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
															</svg>
														</div>
													</div>
												</div>
												<div
													style="width:100%;height:0px"
													class="faq6_answer">
													<div class="margin-bottom margin-small">
														<div class="max-width-large">
															<p blocks-slot-item-canonical="EL10">Lave a área afetada com sabonete suave e seque bem.<br></p>
														</div>
													</div>
												</div>
											</div>
											<div
												blocks-name="faq6_accordion-2"
												class="faq6_accordion">
												<div
													data-w-id="af71544f-d1a8-67c4-dc55-286c8296afab"
													class="faq6_question">
													<div class="text-size-medium">2-Retire</div>
													<div class="faq6_icon-wrapper">
														<div class="icon-embed-small w-embed">
															<svg
																width="100%"
																height="100%"
																viewBox="0 0 32 32"
																fill="none"
																xmlns="http://www.w3.org/2000/svg">
																<path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
															</svg>
														</div>
													</div>
												</div>
												<div
													style="width:100%;height:0px"
													class="faq6_answer">
													<div class="margin-bottom margin-small">
														<div class="max-width-large">
															<p blocks-slot-item-canonical="EL10">Retire o adesivo da embalagem e aplique diretamente sobre a acne.</p>
														</div>
													</div>
												</div>
											</div>
											<div
												blocks-name="faq6_accordion-3"
												class="faq6_accordion">
												<div
													data-w-id="af71544f-d1a8-67c4-dc55-286c8296afb7"
													class="faq6_question">
													<div class="text-size-medium">3-Deixe agir</div>
													<div class="faq6_icon-wrapper">
														<div class="icon-embed-small w-embed">
															<svg
																width="100%"
																height="100%"
																viewBox="0 0 32 32"
																fill="none"
																xmlns="http://www.w3.org/2000/svg">
																<path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
															</svg>
														</div>
													</div>
												</div>
												<div
													style="width:100%;height:0px"
													class="faq6_answer">
													<div class="margin-bottom margin-small">
														<div class="max-width-large">
															<p blocks-slot-item-canonical="EL10">Deixe o adesivo agir por pelo menos 6 horas, ou durante a noite.</p>
														</div>
													</div>
												</div>
											</div>
											<div
												blocks-name="faq6_accordion-3"
												class="faq6_accordion last">
												<div
													data-w-id="21c9c220-3149-b02d-0ec5-59fb8d9dadaf"
													class="faq6_question">
													<div class="text-size-medium">4-Remova</div>
													<div class="faq6_icon-wrapper">
														<div class="icon-embed-small w-embed">
															<svg
																width="100%"
																height="100%"
																viewBox="0 0 32 32"
																fill="none"
																xmlns="http://www.w3.org/2000/svg">
																<path d="M25.3333 15.667V16.3336C25.3333 16.7018 25.0349 17.0003 24.6667 17.0003H17V24.667C17 25.0351 16.7015 25.3336 16.3333 25.3336H15.6667C15.2985 25.3336 15 25.0351 15 24.667V17.0003H7.3333C6.96511 17.0003 6.66663 16.7018 6.66663 16.3336V15.667C6.66663 15.2988 6.96511 15.0003 7.3333 15.0003H15V7.33365C15 6.96546 15.2985 6.66699 15.6667 6.66699H16.3333C16.7015 6.66699 17 6.96546 17 7.33365V15.0003H24.6667C25.0349 15.0003 25.3333 15.2988 25.3333 15.667Z" fill="currentColor"></path>
															</svg>
														</div>
													</div>
												</div>
												<div
													style="width:100%;height:0px"
													class="faq6_answer">
													<div class="margin-bottom margin-small">
														<div class="max-width-large">
															<p blocks-slot-item-canonical="EL10">Remova o adesivo e descarte-o após o uso.<br></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% render 'gsap-marquee', image_src: 'image-2061301e-6486-4b3b-ab59-5f88270f16d6.webp', speed: 60, direction: 'right' %}
		<section class="section_cta53">
			<div class="padding-global">
				<div class="container-large">
					<div class="padding-section-large">
						<div class="header46_component">
							<div class="max-width-large">
								<h1 class="heading-style-h2">ELEVE SEU CUIDADO COM A PELE USANDO GENSKINS<br></h1>
								<div class="spacer-small"></div>
							</div>
						</div>
						<div class="cta53_component">
							<div class="cta53_card text-color-white">
								<div class="cta53_card-content">
									<div class="max-width-large"></div>
									<div class="spacer-medium"></div>
									<div class="button-group is-center">
										<a
											href="/collections/all"
											class="button white w-button"
											>SHOP</a
										>
									</div>
								</div>
								<div class="cta53_background-image-wrapper">
									<img
										alt=""
										src="{{ 'image-9cafc946-d9ab-4f19-ae83-fef53e6948cf.webp' | asset_url }}"
										loading="lazy"
										class="cta53_background-image">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	{%- render 'footer' -%}
</div>
<script
	src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=687b9decde4053855982b5b1"
	type="text/javascript"
	integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
	crossorigin="anonymous"
	defer></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
	defer></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
	defer></script>
<script
	src="{{ 'animations.js' | asset_url }}"
	type="text/javascript"
	defer></script>
<script
	src="{{ 'webflow.js' | asset_url }}"
	type="text/javascript"
	defer></script>
